<div class="row">
<%= link_to "Send Random Message", "#", class: "btn btn-success btn-xs start-conversation", "data-sid" => current_user.id, "data-rips" => @users.ids, style: "font-size: 24px;" %>
    <hr>
    <h3>Your Conversations</h3>

    <div style="height: 400px; overflow-y: auto;">
      <% if @conversations.any? %>
          <ul class="media-list">
            <% @conversations.each do |conversation| %>
                <li class="media">
                  <% color = conversation_interlocutor(conversation).color %>
                  <%= image_tag("http://placehold.it/50x50/#{color}/#{color}", class: "media-object pull-left") %>
                  <div class="media-body" data-cid=<%=conversation.id%>>
                      <% if not conversation.messages.last.read and conversation.messages.last.user_id != current_user.id %> <b> <% end %>
                    <%= link_to "", conversation_path(conversation), class: "conversation", "data-cid" => conversation.id %>
                        <h4 class="media-heading"><%= conversation_interlocutor(conversation).name %></h4>
                        <p><%= conversation.messages.last.nil? ? "No messages" : truncate(conversation.messages.last.body, length: 45) %></p>
                  <% if not conversation.messages.last.read and conversation.messages.last.user_id != current_user.id %> </b> <% end %>
                  </div>
                </li>
            <% end %>
          </ul>
      <% else %>
          <p>You have no conversations. Click send message with any user to create one.</p>
      <% end %>
    </div>

  </div>

  <div class="col-md-4">

  </div>

</div>
